{% extends "blogs/base.html" %}

{% block header %}
  <div class='jumbotron'>
    <h1>Blog posts</h1>
  </div>
{% endblock header %}


{% block content %}
    {% for post in posts %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            <a href="{% url 'blogs:post' post.id %}"> {{ post.title }} </a>
              <small>posted {{ post.date_added|date:'M d, Y H:i' }}
              by {{ post.owner }}</small>
          </h2>
        </div>
        <div class="panel-body">
          {{ post.text|truncatechars:1000 }}
        </div>
      </div> <!-- panel -->

    {% empty %}
      No posts ;(
    {% endfor %}

{% endblock content %}
